.blogs {
  border-bottom: 1px solid @gray-lighter;
  padding: @unit-computed * 2 0;

  .box-wrapper {
    margin-left: -(round(@unit-computed / 2));
    margin-right: -(round(@unit-computed / 2));

    .box {
      color: @black;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      * {
        min-height: 0;
        min-width: 0;
      }

      .post {
        background-color: @white;
        border: 1px solid @gray-lighter;
        border-radius: @border-radius-sm;
        height: 220px;
        flex: 1;
        margin: 0 round(@unit-computed / 2) @unit-computed round(@unit-computed / 2);
        width: 360px !important;
        text-align: left;
      }
    }
  }
}