.introduction {
  border-bottom: 1px solid @gray-lighter;
  padding: @unit-computed * 2 0;

  .box {
    background-color: @gray-lightest;
    border: 1px solid @gray-lighter;
    color: @black;
    margin-top: @unit-computed * 2;
    padding: @unit-computed;
    text-align: left;

    p {
      opacity: 0.87;
    }
  }
}