.projects {
  border-bottom: 1px solid @gray-lighter;
  padding: @unit-computed * 2 0;

  .box {
    color: @black;
    margin: @unit-computed * 2 -(round(@unit-computed / 2)) 0 -(round(@unit-computed / 2));
    margin-top: @unit-computed * 2;
    display: flex;
    flex-wrap: wrap;

    .project {
      background-color: @white;
      border: 1px solid @gray-lighter;
      border-radius: @border-radius-sm;
      flex: 1;
      margin: 0 round(@unit-computed / 2) @unit-computed round(@unit-computed / 2);
      min-width: 350px;
      text-align: left;

      .media-wrapper {
        border-bottom: 1px solid @gray-lighter;
        margin-bottom: round(@unit-computed / 5);
        border-radius: @border-radius-sm;
      }

      .list {
        display: inline;
        list-style: none;
        padding: 0;

        .list-item {
          background-color: @accent;
          border-radius: @border-radius-sm;
          color: @white;
          float: left;
          font-size: @font-size-xs;
          line-height: 0.8;
          margin-right: round(@unit-computed / 4);
          margin-bottom: round(@unit-computed / 4);
          padding: round(@unit-computed / 4);
        }
      }
    }
  }

  .show-all-btn {
   font-size: @font-size-md;
   padding: round(@unit-computed / 4);
   width: 200px;
  }
}