.projects {
  border-bottom: 1px solid @gray-lighter;
  padding: @unit-computed * 2 0;

  .box {
    color: @black;
    margin: @unit-computed * 2 -(round(@unit-computed / 2)) 0 -(round(@unit-computed / 2));
    margin-top: @unit-computed * 2;
    display: flex;
    flex-wrap: wrap;

    .project {
      background-color: @white;
      border: 1px solid @gray-lighter;
      border-radius: @border-radius-sm;
      flex: 1;
      height: 310px;
      margin: 0 round(@unit-computed / 2) @unit-computed round(@unit-computed / 2);
      min-width: 320px;
      text-align: left;
      position: relative;
      overflow: hidden;

      &:hover {
        .more-details {
          max-height: 250px;
        }
      }

      .media-wrapper {
        background-color: @gray-lighter;
        border-radius: @border-radius-sm;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;

        > .img {
          height: auto;
          width: 100%;
          margin: 0 auto;
        }
      }

      .overlap {
        background: @black;
        bottom: 0;
        color: @white;
        display: block;
        opacity: 0.8;
        position: absolute;
        width: 100%;
      }

      .more-details {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.8s;
        -moz-transition: max-height 0.8s;
        -ms-transition: max-height 0.8s;
        -o-transition: max-height 0.8s;
        transition: max-height 0.8s;
      }

      .list {
        display: inline;
        list-style: none;
        padding: 0;

        .list-item {
          background-color: @accent;
          border-radius: @border-radius-sm;
          color: @white;
          float: left;
          font-size: @font-size-xs;
          line-height: 0.8;
          margin-right: round(@unit-computed / 4);
          margin-bottom: round(@unit-computed / 4);
          padding: round(@unit-computed / 4);
        }
      }
    }
  }

  .show-all-btn {
   font-size: @font-size-md;
   padding: round(@unit-computed / 4);
   width: 200px;
  }
}