@white: #FFFFFF;
@black: #000000;

@gray-lightest: #F5F5F5;
@gray-lighter: #EEEEEE;
@gray-light: #BDBDBD;
@gray: #9E9E9E;
@gray-dark: #616161;
@gray-darker: #424242;
@gray-darkest: #212121;

@primary: #212121;
@primary-900: #212121;

@accent: #BB4134;