body, html {
  font-family: @font-family;
  font-size: @font-size-base;
  background: @gray-lightest;
  color: @black;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 @unit-computed / 2;
}

.text {
  // Sizes
  &.xxlg {
    font-size: @font-size-xxlg;
  }
  &.xlg {
    font-size: @font-size-xlg;
  }
  &.lg {
    font-size: @font-size-lg;
  }
  &.md {
    font-size: @font-size-md;
  }
  &.sm {
    font-size: @font-size-sm;
  }
  &.xs {
    font-size: @font-size-xs;
  }
  &.xxs {
    font-size: @font-size-xxs;
  }
}