.nopadding {padding: 0;}
.nopadding-top {padding-top: 0;}
.nopadding-bottom {padding-bottom: 0;}
.nopadding-left {padding-left: 0;}
.nopadding-right {padding-right: 0;}

.padding-xs {padding: @unit-computed / 4;}
.padding-sm {padding: @unit-computed / 2;}
.padding {padding: @unit-computed;}
.padding-lg {padding: @unit-computed * 2;}
.padding-xlg {padding: @unit-computed * 4;}

.padding-top-xs {padding-top: @unit-computed / 4;}
.padding-top-sm {padding-top: @unit-computed / 2;}
.padding-top {padding-top: @unit-computed;}
.padding-top-lg {padding-top: @unit-computed * 2;}
.padding-top-xlg {padding-top: @unit-computed * 4;}

.padding-bottom-xs {padding-bottom: @unit-computed / 4;}
.padding-bottom-sm {padding-bottom: @unit-computed / 2;}
.padding-bottom {padding-bottom: @unit-computed;}
.padding-bottom-lg {padding-bottom: @unit-computed * 2;}
.padding-bottom-xlg {padding-bottom: @unit-computed * 4;}

.padding-left-xs {padding-left: @unit-computed / 4;}
.padding-left-sm {padding-left: @unit-computed / 2;}
.padding-left {padding-left: @unit-computed;}
.padding-left-lg {padding-left: @unit-computed * 2;}
.padding-left-xlg {padding-left: @unit-computed * 4;}

.padding-right-xs {padding-right: @unit-computed / 4;}
.padding-right-sm {padding-right: @unit-computed / 2;}
.padding-right {padding-right: @unit-computed;}
.padding-right-lg {padding-right: @unit-computed * 2;}
.padding-right-xlg {padding-right: @unit-computed * 4;}

.nomargin {margin: 0;}
.nomargin-top {margin-top: 0;}
.nomargin-bottom {margin-bottom: 0;}
.nomargin-left {margin-left: 0;}
.nomargin-right {margin-right: 0;}

.margin-xs {margin: @unit-computed / 4;}
.margin-sm {margin: @unit-computed / 2;}
.margin {margin: @unit-computed;}
.margin-lg {margin: @unit-computed * 2;}
.margin-xlg {margin: @unit-computed * 4;}

.margin-top-xs {margin-top: @unit-computed / 4;}
.margin-top-sm {margin-top: @unit-computed / 2;}
.margin-top {margin-top: @unit-computed;}
.margin-top-lg {margin-top: @unit-computed * 2;}
.margin-top-xlg {margin-top: @unit-computed * 4;}

.margin-bottom-xs {margin-bottom: @unit-computed / 4;}
.margin-bottom-sm {margin-bottom: @unit-computed / 2;}
.margin-bottom {margin-bottom: @unit-computed;}
.margin-bottom-lg {margin-bottom: @unit-computed * 2;}
.margin-bottom-xlg {margin-bottom: @unit-computed * 4;}

.margin-left-xs {margin-left: @unit-computed / 4;}
.margin-left-sm {margin-left: @unit-computed / 2;}
.margin-left {margin-left: @unit-computed;}
.margin-left-lg {margin-left: @unit-computed * 2;}
.margin-left-xlg {margin-left: @unit-computed * 4;}

.margin-right-xs {margin-right: @unit-computed / 4;}
.margin-right-sm {margin-right: @unit-computed / 2;}
.margin-right {margin-right: @unit-computed;}
.margin-right-lg {margin-right: @unit-computed * 2;}
.margin-right-xlg {margin-right: @unit-computed * 4;}

.noborder {border: 0;}
.noborder-top {border-top: 0;}
.noborder-bottom {border-bottom: 0;}
.noborder-left {border-left: 0;}
.noborder-right {border-right: 0;}