@font-family: 'PT Sans', sans-serif;
@font-size-base: 18px;
@line-height: 1.4;

@unit-computed: round(@font-size-base * @line-height); //25px

@font-size-xxlg: 1.6rem;  // 29px
@font-size-xlg: 1.4rem;   // 25px
@font-size-lg: 1.1rem;    // 20px
@font-size-md: 1rem;      // 18px
@font-size-sm: 0.9rem;    // 16px
@font-size-xs: 0.7rem;    // 13px
@font-size-xxs: 0.6rem;   // 11px

@font-size-h1: 2.6rem;    // 47px
@font-size-h2: 2.4rem;    // 43px
@font-size-h3: 2.2rem;    // 40px
@font-size-h4: 2rem;      // 36px
@font-size-h5: 1.8rem;    // 32px
@font-size-h6: 1.6rem;    // 29px

@border-radius-sm: 4px;
@border-radius: 6px;
@border-radius-lg: 10px;

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@opacity-light-vimp: 1;
@opacity-light-imp: 0.7;
@opacity-light-nimp: 0.5;

@opacity-dark-vimp: 0.87;
@opacity-dark-imp: 0.54;
@opacity-dark-nimp: 0.38;

